@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Lexend+Deca&display=swap');
@layer base{
    body {
        @apply font-comfoorta;
        @apply bg-remotely-pattern bg-repeat -mt-3;
    }
    .input {
        @apply text-gray-600 h-10 w-full border rounded
        pl-2 bg-input placeholder-transparent focus:outline-none;
    }
    .wrapper {
        width: calc(100vw);
        height: calc(100vh - (68px + 64px));
    }
    .active > svg > path {
        transition:0.3s;
        fill-opacity: 1;
    }
    .active-exact > svg > path {
        fill-opacity: 1;
    }
}