@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Lexend+Deca&display=swap');
@layer base{
    /* width */
    ::-webkit-scrollbar {
        width: 4px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply bg-primary bg-opacity-30;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        @apply bg-primary bg-opacity-60;
    }
    body {
        @apply font-comfoorta;
        @apply bg-repeat -mt-3;
    }
    .input {
        @apply text-gray-600 h-10 w-full border rounded
        pl-2 bg-input placeholder-transparent focus:outline-none;
    }
    .input-label {
        @apply absolute left-2 -top-5
        text-input-text text-sm transition-all
        peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400
        peer-placeholder-shown:top-2 peer-focus:-top-5
        peer-focus:left-0 peer-focus:text-title
        peer-focus:text-sm;
    }
    .select {
        @apply text-gray-600 h-10 w-full border rounded pl-2 bg-input
        placeholder-transparent focus:outline-none;
    }
    .select-label {
        @apply absolute left-2 -top-5 text-input-text text-sm transition-all
        peer-invalid:text-base peer-invalid:text-gray-400 peer-invalid:top-2
        peer-focus:-top-5 peer-focus:left-0 peer-focus:text-title
        peer-focus:text-sm;
    }
    .textarea {
        @apply text-gray-600 h-10 w-full border rounded h-32 pl-2 bg-input
        placeholder-transparent focus:outline-none;
    }
    .wrapper {
        width: calc(100vw);
        height: calc(100vh - (68px + 64px));
    }
    .active > svg > path {
        transition:0.3s;
        fill-opacity: 1;
    }
    .active-exact > svg > path {
        fill-opacity: 1;
    }
    .clip {
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    }
}